@{
    ViewData["Title"] = "Janvier 2022";
}

<h3>
    Janvier 2022
    <small class="text-muted">(Entreprise exemple)</small>
</h3>

<div class="row pb-3 backgroundWhite">
    <div class="col-4 col-sm-12">
        <a asp-action="Update" class="btn btn-secondary col-10">
            <i class="fas fa-plus-circle"></i> &nbsp;Modifier les mesures
        </a>
    </div>
</div>

<form asp-action="Upsert" method="post" enctype="multipart/form-data">
    <div class="list-group list-group-flush">
        <div class="list-group-item active mt-3">
            Groupe exemple
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 font-weight-bold">
                            Nom de l'équipement
                        </div>
                        <div class="col-6">
                            Type de l'équipement
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Formule
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    Mesure
                </div>
                <div class="col-3">
                    Émissions mensuelles
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 font-weight-bold">
                            Équipement exemple constant
                        </div>
                        <div class="col-6">
                            Constant
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            10 t/j × 31 j
                        </div>
                    </div>
                </div>
                <div class="col-3">
                </div>
                <div class="col-3">
                    310 t
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 font-weight-bold">
                            Équipement exemple 2
                        </div>
                        <div class="col-6">
                            Linaire
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            0.000567 t / pizza × 1476 pizza
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    1476&nbsp;pizza
                </div>
                <div class="col-3">
                    0.837 t
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 font-weight-bold">
                            Équipement exemple 3
                        </div>
                        <div class="col-6">
                            Relatif
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            89% de [0.120 à 0.374] t / j × 31 j
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    89&nbsp;%
                </div>
                <div class="col-3">
                    10.7 t
                </div>
            </div>
        </div>
    </div>


    <div class="list-group-item pb-3 font-weight-bold">
        Émissions du groupe : 322 tonnes
    </div>
    <div class="list-group-item active mt-3">
        Total des émissions pour Entreprise exemple
    </div>
    <div class="list-group-item pb-3 font-weight-bold">
        Émissions totales : 322 tonnes
    </div>

    <div class="form-group row mt-3">
        <div class="col-4">
            <a asp-action="Liste" class="btn btn-secondary w-100"><i class="fas fa-sign-out-alt"></i> Retour à Entreprise exemple</a>
        </div>
    </div>
</form>