@using CEGES_MVC.Areas.Analyse.Controllers
@using CEGES_Util;
@model ILookup<string, (DateTime, int?)>
@{
    ViewData["Title"] = "Analyse des entreprises";
}
<h3>
    Liste des rapports pour Entreprise exemple
</h3>
<div class="row">

    
    @foreach (var groupe in Model)
    {
        <div class="col mb-4">
            <div class="card h-100" style="min-width: 15rem; max-width: 18rem;">
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item active">2020</div>

                        @foreach (var date in groupe)
                        {
                            if (date.Item2.HasValue)
                            {
                                //GRAS = existe
                                @Html.ActionLink(
                                    $"{date.Item1.ToMonthName().CapitalizeFirst()} {date.Item1.Year}",
                                    nameof(RapportController.Details),
                                    new { entrepriseId = 10, Name = 3, RapportId = date.Item2 },
                                    new { @class = "list-group-item list-group-item-action font-weight-bold" }
                                 )
                              
                                continue;
                            }
                             @Html.ActionLink(
                                    $"{date.Item1.ToMonthName().CapitalizeFirst()} {date.Item1.Year}",
                                    nameof(RapportController.Details),
                                    new { ID = 10, Name = 3, Department = "test" },
                                    new { @class = "list-group-item list-group-item-action" }
                                 )
                            @*<a asp-action="Insert" class="list-group-item list-group-item-action">@($"+ {date.Item1.ToMonthName().CapitalizeFirst()} {date.Item1.Year}")</a>*@

                        }
                    </div>
                </div>
            </div>
        </div>
    }



</div>
<div class="row">
    <div class="col-4">
        <a asp-action="Index" class="btn btn-secondary w-100"><i class="fas fa-sign-out-alt"></i>Retour</a>
    </div>
</div>
