@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour !</h1>
    <p>Utilisez les menus ci-dessus pour accéder à la configuration des modèles d'émission ou procéder à l'analyse de données d'un modèle pour une période donnée.</p>
</div>
